

/* 
===================
                  
   Front-Page     
     [Main]    
    
===================
*/ 
body {
    background-color: #fff;
    color: #1a1a1a; 
    display: grid;  
    grid-template-columns: 15vw 84vw
}
label {
    margin-bottom:0;
}
hr {
    border-color: #b5b5b5;
}

h3 {
    text-align:center;
    margin:1vw;
}

nav {
    grid-column: 1/3;
    grid-row: 1; 
}
main {
    padding-right:10vw;
    grid-column: 2;
    grid-row: 2; 
}

aside {
    margin-left:5vw;
    grid-column: 1;
    grid-row: 2;
}
/* 
===================
                  
   Front-Page     
  [Hotel-List]   
    
===================
*/            

.hotel-list {
    max-width:70vw;
    margin: 0 auto;
}

.hotel-list ul {
    list-style: none;
}

img {
    width:100%;
}

.hotel-item-title {
    color:#000;
    font-weight: 300;
    font-size:1vw;
    text-align:center;
    background-color: #dddddd;
    border-radius: 5px 5px 0 0;
    padding: 0.6vw 0;
}

.hotel-item-country {
    color:#000;
    font-weight:300;
    padding:0.2vw;
    background-color:#d8d8d8;
    border-radius: 0 0 5px 5px;
}

.hotel-item {
    background-color: #2a2a2a;
    padding: 0;
    width: 40vw;
    max-width: 30%;
    margin: 1vw;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.hotel-item:hover {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    transition: 0.2s ease-in-out;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.hotel-item a:hover {
    text-decoration: none;
}

.hotel-item ul {
    padding: 0;
}

/* 
===================
                  
   Front-Page     
   [Popular] 
    
===================
*/   

.item-popular .hotel-item-title  {
    background-color: #d8b800;
}

.item-popular:hover{
    background-color: #ffd900;  
}

.item-popular .hotel-item-country  {
    background-color: #a09300;
}


.item-popular:hover {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(221, 236, 4, 0.61);
    -moz-box-shadow: 0px 0px 24px 0px rgba(221, 236, 4, 0.61);
    box-shadow: 0px 0px 24px 0px rgba(221, 236, 4, 0.61);
}

/* 
===================
                  
   Front-Page     
  [Admin-list]    
    
===================
*/ 

// .admin-list {
//     width:70vw;
// }

// .admin-list > .row {
//     padding: 0;
// }

// .hotel-item-admin {
//     background-color: #d8d8d8;   
//     border-radius:15px;
//     list-style: none;
// }

/* 
===================
                  
   Front-Page     
      [Nav]    
    
===================
*/ 
nav .navmenu {
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
}

nav .menu-btn:checked ~ .navmenu {
    max-height: 50vw;
    transition: max-height .3s ease-out;    
  }

/* menu icon */

.fa-sort-up {
    transform: translateX(-5px) scale(1.3) rotate(90deg);
}

nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    //Commented *should be for responsive*
    // padding: 60px 30px;
    padding: 30px 20px; 
    position: relative;
    user-select: none;
}

nav .menu-icon .navicon {
    background: #333;
    display: block;
    //Commented *should be for responsive*
    // height: 4px;
    height:2px;
    position: relative;
    transition: background .3s ease-out;
    //Commented *should be for responsive*
    // width: 36px;
    width:18px;
  }
  
nav .menu-icon .navicon:before, nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
}

nav .menu-icon .navicon:before {
    //Commented *should be for responsive*
    // top: 10px;
    top:5px;
}

nav .menu-icon .navicon:after {
    //Commented *should be for responsive*
    // top: -10px;
    top:-5px;
}

nav .menu-btn {
    display: none;
}
  
nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
    //Commented *should be for responsive*
    // transform: rotate(45deg) translateX(4px) translateY(20px);
    transform: translateY(5px) rotate(45deg) translateX(-8px);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
    //Commented *should be for responsive*
    // transform: rotate(-45deg) translateX(-4px) translateY(20px);
    transform: translateY(5px) rotate(-45deg) translateX(8px);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

nav {
    background-color: #ffffff;
    -webkit-box-shadow: -4px 6px 8px 0 rgba(0,0,0,.1);
    -moz-box-shadow: -4px 6px 8px 0 rgba(0,0,0,.1);
    box-shadow: -4px 6px 8px 0 rgba(0,0,0,.1);
    width:100%;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:block;
    //Commented *should be for responsive*
    // font-size:7vw;
}

nav ul li a, nav li a {
    display:block;
    padding: 8px;
    padding: 0.5vw 0.9vw;
    transition: 0.1s ease-in-out;
    color:#141414;
    font-weight:300;
    width:100%;
}

nav li {
    padding:0;
    float:right;
}
nav li a {
    padding:1vw 3vw;
}
nav ul li {
    display:block;
    width:100%;
    float:none;
}

nav ul li a:hover, nav li a:hover {
    background-color:#f1f1f1;
    cursor:pointer;
    transition: 0.1s ease-in-out;
    -webkit-box-shadow: inset 5px 0px 5px -25px rgba(0,0,0,0.8), inset -25px 0px 25px -25px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 5px 0px 5px -25px rgba(0,0,0,0.8), inset -25px 0px 25px -25px rgba(0,0,0,0.8);
    box-shadow: inset 20px 0px 20px -25px rgba(0,0,0,0.8), inset -20px 0px 20px -25px rgba(0,0,0,0.8);
    text-decoration: none;
    color: #282828;
}

.navmenu {
    margin:0;
}

.nav-right {
    float: right;
}
.nav-left {
    float: left;
}
.nav-mid {
    float: none;
    margin: 0 auto;
    width:15vw;
    height:100%;
    background-color:#373737;
    border-style: none;
    padding: 1.1vw 0.3vw;
}

/* 
===================
                  
   Front-Page     
    [Aside]    
    
===================
*/ 

aside {
    padding-top:3.2vw;
}

aside ul, label, input[type=checkbox] {
    list-style: none;
    padding:0 0.1vw;
    cursor:pointer;
}

aside label{
    display:inline-block;
}

aside ul li {
    font-size:1vw;
    padding:0.2vw 0.5vw;
    transition: 0.08s ease-in-out;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:#d3d3d3;
}

aside ul li:hover {
    background-color: #d8d8d8;
    transition: 0.08s ease-in-out;
}

aside ul li:hover > label {
    text-decoration: underline;
}

/* 
===================
                  
      NAV     
 [Above-Mobile]    
    
===================
*/ 


//Commented *should be for responsive*
// @media (min-width: 700px) {
//     nav li {
//         font-size:1vw;
//     }
// }    